html,
body {
    font-family: 'Roboto Slab', serif;
}

nav {
    border-bottom: 10px solid #a22222;
    font-size: 1.1rem;
    z-index: 1000;
}

p {
    line-height: 1.8;
    color: #666;
}

section {
    border-bottom: 2px solid #a22222;

}

.powered {
    background-color: #eee;
}

.light-border {
    border-bottom: 1px solid gray;
}

.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #fff;
    transition: width .3s;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
}

footer .container {
    height: 10vh;
    color: #fff;
}


/*--------- CAROUSEL CSS ----------*/
#myCarousel {
    height: 400px;
    background-color: #343a40;
}

.carousel-inner {
    height: 400px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
.carousel-item {
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
}

#first-slide {
    background-image: url(img/makerfaire-1.jpg);
}    
#second-slide {
    background-image: url(img/makerfaire-2.jpg);
}    
#third-slide {
    background-image: url(img/makerfaire-3.jpg);
}    
#fourth-slide {
    background-image: url(img/makerfaire-4.jpg);
}   
#fifth-slide {
    background-image: url(img/makerfaire-5.jpg);
}

/*--------- FINE CAROUSEL CSS ----------*/


/*--------- GO TO TOP ----------------*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
    
    
    